@model Contract.DTO.CustomerDTO

@{
	ViewData["Title"] = "AddEditCustomer";
}
@if (Model != null && Model.Id > 0)
{
	<h1>
		Edit Customer
	</h1>
}
else
{
	<h1>
		Add Customer
	</h1>
}
<hr/>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddEditCustomer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            
            <div class="form-group">
                <label asp-for="customer_name" class="control-label">Name</label>
                <input asp-for="customer_name" class="form-control" />
                <span asp-validation-for="customer_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="customer_address" class="control-label">Address</label>
                <input asp-for="customer_address" class="form-control" />
                <span asp-validation-for="customer_address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="customer_contact" class="control-label">Contact</label>
                <input asp-for="customer_contact" class="form-control" />
                <span asp-validation-for="customer_contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="customer_email" class="control-label">Email</label>
                <input asp-for="customer_email" class="form-control" />
                <span asp-validation-for="customer_email" class="text-danger"></span>
            </div>
            <br><br>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
