@{
    ViewData["Title"] = "Home Page1";
}

<div class="text-center">
<<<<<<< HEAD
<<<<<<< HEAD
    <h1>Go Go guys</h1>
    <p>sdgsvdgvvgv</p>
    <h2>Testing</h2>
    <dileepa></dileepa>
=======
    <h1 class="display-4">You are Welcome here</h1>
    <h2>2nd one</h2>
    <h3>3rd 0ne</h3>
    <h4>shdgfgys</h4>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>And here we go</p>
>>>>>>> cf2f25a305482c7ca59bc473dc4c800dbe29624c
=======
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
>>>>>>> b885ab9baae1cf6b4d378d198ade521e55876fb8
</div>

 <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>A wonderful serenity</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 p-3">
          <p>When I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath of that universal love which bears and sustains us.</p>
        </div>
        <div class="col-md-6 p-3">
          <p>And then, my friend, when darkness overspreads my eyes, and heaven and earth seem to dwell in my soul and absorb its power, like the form of a beloved mistress, then I often think with longing, Oh, would I could describe these conceptions, could impress upon paper all that is living so full.</p>
        </div>
      </div>
    </div>
  </div>



  <p>dhvczhjycvamvdaskchfadsvcjnhsavcjhzc</p>

    <p>YAsh</p>
  
