@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">You are Welcome here</h1>
    <h2>2nd one</h2>
    <h3>3rd 0ne</h3>
    <h4>shdgfgys</h4>




    <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt mi id erat ornare luctus. Morbi ut egestas dui. Aenean elit sem, scelerisque vitae enim ut, consectetur facilisis ipsum. Duis a lorem justo. Aliquam lacus leo, tincidunt at dictum nec, eleifend et leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur maximus blandit rutrum. Nulla id gravida nisl. Etiam sed molestie dui, id dapibus nisl. Nam gravida, tellus eu porta feugiat, lectus leo sagittis mauris, sit amet eleifend quam lorem venenatis massa. Mauris non eros sapien. Sed nibh lorem, egestas eget interdum non, sollicitudin non quam. In vel eros a mauris efficitur euismod.</strong>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>And here we go</p>
</div>
