@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1>Go Go guys</h1>
    <p>sdgsvdgvvgv</p>
    <h2>Testing</h2>
    <dileepa></dileepa>
=======
    <h1 class="display-4">You are Welcome here</h1>
    <h2>2nd one</h2>
    <h3>3rd 0ne</h3>
    <h4>shdgfgys</h4>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>And here we go</p>
>>>>>>> cf2f25a305482c7ca59bc473dc4c800dbe29624c
</div>
