@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">You are Welcome here</h1>
    <h2>2nd one</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
