@{
    ViewData["Title"] = "Home Page";
}



<body >

    <div class="text-center">
    <h1 class="display-4">You are Welcome here</h1>
    <h2>2nd one</h2>
    <h3>3rd 0ne</h3>
    <h4>shdgfgys</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt mi id erat ornare luctus. Morbi ut egestas dui. Aenean elit sem, scelerisque vitae enim ut, consectetur facilisis ipsum. Duis a lorem justo. Aliquam lacus leo, tincidunt at dictum nec, eleifend et leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur maximus blandit rutrum. Nulla id gravida nisl. Etiam sed molestie dui, id dapibus nisl. Nam gravida, tellus eu porta feugiat, lectus leo sagittis mauris, sit amet eleifend quam lorem venenatis massa. Mauris non eros sapien. Sed nibh lorem, egestas eget interdum non, sollicitudin non quam. In vel eros a mauris efficitur euismod.<p/>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>And here we go</p>
</div>


  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>A wonderful serenity</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 p-3">
          <p>When I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath of that universal love which bears and sustains us.</p>
        </div>
        <div class="col-md-6 p-3">
          <p>And then, my friend, when darkness overspreads my eyes, and heaven and earth seem to dwell in my soul and absorb its power, like the form of a beloved mistress, then I often think with longing, Oh, would I could describe these conceptions, could impress upon paper all that is living so full.</p>
        </div>
      </div>
    </div>
  </div>
  
</body>


