html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.customer_details_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #customer_details_table td, #customer_details_table th {
        border: 1px solid #ddd;
        padding: 8px;
    }

#customer_details_table tr:hover {
    background-color: #ddd;
 }
#customer_details_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: darkblue;
    color: white;
}

#customer_details_table tr:nth-child(even) {
    background-color: #f2f2f2;
}